.login-container {
    color: #340B01;
    font-weight: Bold;
    width: 300px; /* Example width */
    position: fixed; /* Position the footer */
    top: 25vh;
    margin: 0 auto; /* Center the login container */
    background-color: #BED4C2;
    padding: 10px;
    justify-content: center; /* Horizontally center elements */
    align-items: center;
    border-radius: 10px;
    
}
  


