body {
  margin: 0;
  font-family: Quicksand, "Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  background-color: #7B967A;
  justify-content: center;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #6B4028;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #ECE6D8;
  cursor: pointer;
  font-family: system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  font-weight: bold;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #ECE6D8;
  color: #6B4028
}

input {
  padding: 10px; /* Padding for input content */ /* Border color */
  border: 2px solid #6B4028;
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Font size */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ECE6D8;
  color: #340B01;
  

}

/* Input hover effect */
input:hover {
  border-color: #7B967A; /* Border color on hover */
}

input::placeholder {
  color: #6B4028
}

.input-container {
  padding: 10px; /* Outer padding for the input container */
}



.container {
    color: #340B01;
    font-weight: Bold;
    position: fixed; /* Position the footer */
    top: 25vh;
    margin: 20px ; 
    background-color: #BED4C2;
    border: 3px solid #340B01;
    padding: 10px;
    justify-content: center; /* Horizontally center elements */
    align-items: center;
    border-radius: 20px;
    background-image: url('assets/background.png');
}

.footer-container {
  width: 100%; /* Set width of the footer to fill the entire screen */
  height: 2px; /* Set height of the footer */
  background-color: #6B4028; /* Set background color */
  padding: 20px; /* Add padding inside the footer */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  position: fixed; /* Position the footer */
  bottom: 0; /* Align the bottom edge of the footer to the bottom of the screen */
  left: 0; /* Align the left edge of the footer to the left of the screen */
  right: 0; /* Align the right edge of the footer to the right of the screen */
}


.navbar {
  background-color: #6B4028; /* Dark background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Dark shadow */
  padding: 20px 10px; /* Padding for content */
  padding-top: 0px;
  display: flex; /* Flex layout to align items horizontally */
  justify-content: center; /* Space items evenly along the main axis */
  flex-direction: column; 
  align-items: center;
}
  
.navbar-brand {
  font-size: 3.0rem; /* Larger font size for brand/logo */
  color: #ECE6D8; /* Text color */
  font-weight: bold;
  margin: 20px
}

.navbar-links {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex; /* Flex layout to align items horizontally */
}


.navbar-links a {
  color: #ECE6D8; /* Link color */
  text-decoration: none; /* Remove default underline */
  margin-left: 40px; /* Add spacing between links */
  font-weight: bold;
  font-size: 1 rem; /* Larger font size */
  text-align: center;
}


.navbar-links a:hover {
  color: #7B967A; /* Change color on hover */
}

.container2 {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 10px;
  flex-direction: column; 
  justify-content: center;
  display: flex; /* Flex layout to align items horizontally */
  background-color: rgba(123, 150, 122, 0.9);
  border-radius: 20px;
  margin: 20px 10px;
}

.resource-container {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 20px;
  flex-direction: column; 
  justify-content: center;
  display: flex; /* Flex layout to align items horizontally */
  background-color: #ECE6D8;
  border-radius: 20px;
  
  margin: 20px 10px;
}

.resource-container:first-child {
  margin-top: 10px; /* Adjust as needed */
}

.resource-container:last-child {
  margin-bottom: 10px; /* Adjust as needed */
}

.resource-container a {
  color: #6B4028; /* Link color */
  text-decoration: none; /* Remove default underline */
  font-weight: bold;
  font-size: 1 rem; /* Larger font size */
  text-align: center;

}


.resource-container a:hover {
  color: #7B967A; /* Change color on hover */
}
  
.resource-container b {
  color: #6B4028; /* Link color */
  text-decoration: none; /* Remove default underline */
  font-weight: bold;
  font-size: 1 rem; /* Larger font size */
  text-align: center;
}